<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plots</title>
    <!-- CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="./static/css/map_style.css"> -->
    <link rel="stylesheet" type="text/css" href="./css/map_style.css">
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="background-color: rgb(248, 251, 255);" href="index.html">Gun Statistics</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Guns Facts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./map.html">U.S. Map</a>
                
                    <li class="nav-item">
                        <a class="nav-link" href="./plots.html">Plots</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <div class="container-fluid">
        <h3 id="plot-h3">Registered Guns and Population</h3>
        <div class="row justify-content-center">
            <div id="pie"></div>
        </div>
    </div>
    <div class="container-fluid">
        <h3 id="plot-h3">Gun Ownership and School Shootings</h3>    
            <div id="bar"></div>
    
            <!-- <div id="bubble"></div> -->
            <!-- registered guns to show where most states stand -->
    </div>
    
    <script type="module" src="../static/js/plots.js"></script>
    <script type="module" src="../static/js/guns2 _output.js"></script>
    
</body>
</html>